#header {
    top: 0;
    background-color:blue;
    text-align: center;
}

#header_brand_text {
    line-height: 1;
}

.link_with_no_text_decoration {
    text-decoration: none;
}

body {
    background-image: url("https://images.unsplash.com/photo-1530934567261-33ff5bc9d4e9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzl8fGJsdWUlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
}
.nav_flex-column {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    text-align: end;
}

#carouselExampleSlidesOnly {
    width: 30%;
    height: 30%;
    align-items: center;
    left: 500px;
    border: 3px solid #FFFFFF;
    }

}

.btn btn-primary {
    position: sticky;
}
.inline_element {
    display: inline;
}

.no_list_style {
    list-style: none;
}


.italic {
    font-style: italic;
}

.white_color {
    color: white
}

.fa {
    height: 80px;
    width: 60px;
    display: flex;
    font-size: 50px;
    left: 500px;
    padding-top: 4px;
    text-align: center;
    display:block;
    margin-right: auto;
    align-items: center;
    color:white;
    

  }

